$white: #fff;
$background: #f0f0f0;
$light-gray: #c0c0c0;
$gray: #767676;
$dark-gray: #484848;
$black: #000;
$light-green: #d0e8de;
$green: #00bc6e;
$dark-green: #006139;
$blue: #5dbccc;
$dark-blue: #224F56;
$yellow: #eadd44;
$orange: #e4a16b;
