body {
  color: $dark-gray;
  font-family: $font-stack;
  background-color: $background;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

header {
  margin-bottom: 0px;
}

img{
	max-width: 100%;
	height: auto;
}

a {
  text-decoration: none;
  font-size: 14px;
}

p, li {
  font-size: 16px;
  font-weight: 100;
  font-family: $font-stack;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $font-stack;
  font-weight: 400;
}

button, input {
  font-family: $font-stack;
  font-weight: 400;
}

button {
  cursor: pointer;

  &:action {
    border: none;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;

  &.con-pad {
    padding: 0 15px;
  }
}

.btn {
  font-size: 17px;
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 16px;
  color: $white;
  cursor: pointer;

  &.green {
    background-color: $green;

    &:hover {
      filter: brightness(85%);
      color: $white;
    }
  }

  &.demo-btn {
    background-color: $dark-blue;
    padding: 7px 12px;

    &:hover {
      filter: brightness(115%);
      color: $white;
    }
  }
}

.errors {
  color: red;
  list-style: none;
  margin: 0px;
  padding-top: 10px;
  padding-left: 15px;
}

.star {
  color: $star;

  &.sm {
    font-size: 14px;
  }

  // &.md {
  //   font-size: 16px;
  // }

  &.lg {
    font-size: 18px;
  }
  //
  // &.xlg {
  //   font-size: 20px;
  // }
  //
  // &.sm-marg i {
  //   margin: 0 2px;
  // }
  //
  // &.md-marg i {
  //   margin: 0 3px;
  // }
  //
  // &.lg-marg i {
  //   margin: 0 5px;
  // }
}

.review {
  color: $dark-gray;

  // &.xsm {
  //   font-size: 12px;
  // }

  &.sm {
    font-size: 14px;
  }

  &.md {
    font-size: 16px;
  }
  //
  // &.lg {
  //   font-size: 18px;
  // }
}

// .hallow-button {
//   background-color: transparent;
//   border-radius: 4px;
//   padding: 7px 12px;
//
//   &.green {
//     border: 2px solid $green;
//     color: $green;
//   }
//
//   &:focus {
//     outline: none;
//     border-color: $black;
//   }
// }
//
// .full-button {
//   background-color: transparent;
//   border-radius: 4px;
//   padding: 7px 12px;
//   color: $white;
//
//   &.green {
//     border: 2px solid $green;
//     background-color: $green;
//   }
//
//   &:focus {
//     outline: none;
//     border-color: $black;
//   }
// }

// .space-between {
//   display: flex;
//   justify-content: space-between;
// }
