body {
  color: $dark-gray;
  font-family: $font-stack;
  background-color: $background;
  line-height: 1.4;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

header {
  margin-bottom: 0px;
}

img{
	max-width: 100%;
	height: auto;
}

a {
  text-decoration: none;
  font-size: 14px;
}

p, li {
  font-size: 15px;
  font-weight: 100;
  font-family: $font-stack;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $font-stack;
  font-weight: 400;
}

button, input {
  font-family: $font-stack;
  font-weight: 400;

  &:focus {
    outline-color: $light-green;
  }
}

button {
  cursor: pointer;

  &:action {
    border: none;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.btn {
  font-size: 17px;
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 16px;
  color: $white;
  cursor: pointer;

  &:focus {
    color: $white;
    outline: none;
  }

  &.green {
    background-color: $green;

    &:hover {
      filter: brightness(85%);
      color: $white;
    }
  }

  &.demo-btn {
    background-color: $dark-blue;
    padding: 7px 12px;

    &:hover {
      filter: brightness(115%);
      color: $white;
    }
  }
}

.errors {
  color: red;
  list-style: none;
  margin: 0px;
  padding-top: 10px;
  padding-left: 15px;
}

.star {
  color: $star;

  &.sm {
    font-size: 14px;
  }

  &.lg {
    font-size: 18px;
  }
}

.review {
  color: $dark-gray;

  &.sm {
    font-size: 14px;
  }

  &.md {
    font-size: 16px;
  }
}
