.footer {
  border: 1px solid $light-gray;
  // background-color: $light-gray;
  height: 50px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  // padding: 2em 0;
}

.footer-container {
  display: flex;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.footer-about {
  width: 564px;
  font-weight: 100;
  font-family: Helvetica;
  color: $gray;
  line-height: 1.625;
  font-size: 12px;
  letter-spacing: 0.52px;
}

.footer-p {
  margin-bottom: 0.825em;
}
