.main-image {
  // margin-top: 0;
  // background: image-url('roll_over1.jpg') no-repeat center;
  background: url(http://res.cloudinary.com/rolover/image/upload/v1500506606/roll_over1_pizv9e.jpg) no-repeat center;
  height: 90%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
