.mainpage-container {
  display: flex;
  flex-direction: column;
}

.main-image {
  background: url(http://res.cloudinary.com/rolover/image/upload/v1500506606/roll_over1_pizv9e.jpg) no-repeat center;
  height: 75%;
  width: 100%;
  z-index: -1;
  position: absolute;
  filter: brightness(70%);
}

.main-banner {
  display: flex;
  margin: auto;
  flex-direction: column;
  z-index: 0;
  margin-top: 160px;
  align-items: center;

  h1 {
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    color: $white;
  }

  h4 {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: $white;
  }
}

// main content
.main-content {
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 185px;
  padding-top: 70px;
}

.intro-1, .intro-2 {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.intro-1 {
  margin-top: 20px;

  p {
    color: $green;
    border: 2px solid $green;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
  }
}

.intro-3 {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 70px;
}

.intro-3-1, .intro-3-2, .intro-3-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.intro-bold {
  margin-bottom: 5px!important;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}

.intro-weak {
  margin-bottom: 0;
  color: $light-gray;
  line-height: 1.6;
}

.intro-profile {
  width: 90%;
}

.intro-4 {
  background-image: url(http://res.cloudinary.com/rolover/image/upload/v1501259507/dog-horse_bkqcdu.jpg);
  background-size: cover;
  width: 90%;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.intro-comment-card {
  width: 370px;
  height: 215px;
  background-color: $white;
  padding: 20px;
  margin-left: 70px;
  margin-top: -35px;
  border: 1px solid $light-gray;
  border-radius: 3px;

  div {
    border-top: 2px solid $green;
    width: 55px;
    height: 15px;
    margin-left: 10px;
  }

  h3 {
    margin-top: 0;
    font-family: 'Caveat', cursive;
    font-size: 37px;
  }

  p {
    margin-left: 4px;
    font-weight: bold;
    padding-top: 10px;
  }
}

.intro-5 {
  margin-top: 60px;
  display: flex;
  width: 1030px;
  flex-direction: column;
  margin-bottom: 60px;

  h3 {
    text-align: center;
  }
}

.intro-5-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.intro-5-1, .intro-5-2, .intro-5-3 {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
