.mainpage-container {
  display: flex;
}

.main-image {
  display: flex;
  // background: url(http://res.cloudinary.com/rolover/image/upload/v1500506606/roll_over1_pizv9e.jpg) no-repeat center;
  height: 80%;
  width: 100%;
  z-index: -1;
  position: absolute;
  filter: brightness(70%);
}

.main-banner {
  border: 2px solid $white;
  display: flex;
  height: 70%;
  margin: auto;
  flex-direction: column;
  z-index: 0;
  margin-top: 150px;
}

.main-banner-h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  color: $white;

  h1 {
    font-size: 45px;
    // font-family: 'Carter One', cursive;
    font-family: 'Love Ya Like A Sister', cursive;
    // font-family: 'Oregano', cursive;
    // font-family: 'Playball', cursive;
  }
}

.main-banner-h4 {
  display: flex;
  width: 100%;
  justify-content: center;
  color: $white;
}
