.review-form-container {
  border: 1px solid $light-green;
  display: flex;
  width: 680px;
  padding: 10px;

  form {
    display: flex;
  }

  p {
    color: $gray;
    padding: 10px;
  }
}

.radio-star {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(http://res.cloudinary.com/rolover/image/upload/v1501004870/stars_jaoe7c.png);
  vertical-align: bottom;

  &:hover {
    background-position: 30px 30px;
  }

  &:checked {
    background-position: 30px 30px;
  }

  &:focus{
    outline: none;
  }
}

.review-form-container-1 {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.review-form-container-2 {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 10px;

  input {
    height: 47px;
  }
}
