.review-form-container {
  border: 1px solid $light-green;
  display: flex;
  // width: 70%;
  width: 680px;
  padding: 10px;

  form {
    display: flex;
  }
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(http://res.cloudinary.com/rolover/image/upload/v1501004870/stars_jaoe7c.png);
  vertical-align: bottom;
}

input[type='radio']:checked {
  background-position: 30px 30px;
}

.review-form-container-1 {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.review-form-container-2 {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 10px;

  input {
    height: 47px;
  }
}

.review-form-rating, .review-form-body, .review-form-submit {
  display: flex;
}
