.search-box-container {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  min-width: 630px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 25px;
  position: relatvie;
}

.search-box-header {
  display: flex;
  width: 100%;
  height: 30px;

  p {
    margin: 0;
  }
}

.search-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-training {
  display: flex;
  flex-direction: column;
  border: 1px solid $light-gray;
  border-radius: 4px;
  cursor: pointer;
  padding: 7px;
  height: 110px;
  width: 110px;
  justify-content: center;

  &:hover {
    border: 1px solid $black;
    font-color: $black;
  }
}

.search-training-selected {
  display: flex;
  flex-direction: column;
  border: 1px solid $light-gray;
  border-radius: 4px;
  cursor: pointer;
  padding: 7px;
  height: 110px;
  width: 110px;
  justify-content: center;
  border-bottom: 3px solid $green;
}

.search-icon {
  display: flex;
  width: 80%;
  padding: 5px;
  // justify-content: center;
}


.search-text {
  display: flex;
  width: 100%;
  justify-content: center;
  color: $light-gray;
}
