.trainer-container {
  border: 1px solid green;
  margin-top: 50px;
  margin-left: 150px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // text-decoration: none;
}

.trainer-list-item {
  border-bottom: 1px solid $gray;
  display: flex;
  // width: 100%;
  width: 598px;
  height: 170px;

  &:hover {
    cursor: pointer;
    border-left: 3px solid $orange;
    // text-decoration: none;
  }
}

.trainer-list-profile {
  background: url(http://res.cloudinary.com/rolover/image/upload/v1500615274/hannah-busing-310503_dyj1vz.jpg) no-repeat center;
  background-size: 90% 90%;
  display: flex;
  width: 25%;
}

.trainer-list-main {
  // border: 1px solid $dark-blue;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  padding: 7px;
}

.trainer-list-price {
  // border: 1px solid $green;
  display: flex;
  width: 10%;
  font-size: 25px;
  padding-top: 15px;
  padding-right: 7px;
  justify-content: flex-end;
}

.trainer-list-name {
  // border: 1px solid $light-green;
  display: flex;
  width: 100%;
  height: 25%;

  h2 {
    margin-top: 5px;
    // margin-left: 10px;
    // display: flex;
    color: $dark-blue;
    // font-weight: 500;
  }
}

.trainer-list-quote {
  // border: 1px solid $light-green;
  display: flex;
  width: 100%;
  height: 15%;
  color: black;
  font-weight: bold;
  // padding-left: 10px;
}

.trainer-list-address {
  // border: 1px solid $light-green;
  display: flex;
  width: 100%;
  height: 15%;

  span {
    font-size: 12px;
  }
}

.trainer-list-description {
  // border: 1px solid $light-green;
  display: flex;
  width: 100%;
  height: 45%;
  padding-top: 10px;
  padding-left: 10px;
}
