.trainer-detail-container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.trainer-header {
  display: flex;
  width: 100%;
  min-height: 480px;
  margin-top: 30px;
  flex-wrap: wrap;

  .trainer-header-1 {
    display: flex;
    flex: 1;
  }

  .trainer-header-2 {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    background-color: $white;

    .trainer-header-2-1 {
      border: 1px solid $green;
      display: flex;
      flex: 2.3;
      flex-wrap: wrap;
    }

    .trainer-header-2-2 {
      display: flex;
      flex-wrap: wrap;
      flex: 1;

      .th-profile {
        border: 1px solid $blue;
        display: flex;
        height: 20%;

        .th-profile-img {
          display: flex;
          // flex-direction: column;
          // width: 38%;
          // padding: 3%;

          img {
            border-radius: 7px;
            border: 1px solid $green;
          }
        }

        .th-profile-name {
          display: flex;
        }

        .th-profile-address {
          display: flex;
        }
      }
    }
  }

  .trainer-header-3 {
    display: flex;
    flex: 1;
  }
}

.trainer-description {
  display: flex;
  background-color: $white;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
}
