.trainer-container {
  border: 1px solid green;
  margin-top: 50px;
  margin-left: 150px;
  width: 670px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trainer-list-item {
  border-bottom: 1px solid $gray;
  display: flex;
  // width: 100%;
  width: 668px;
  height: 170px;

  &:hover {
    cursor: pointer;
    border-left: 3px solid $orange;
    text-decoration: none;
  }
}

.trainer-list-profile {
  display: flex;
  border: 1px solid $dark-blue;
  width: 170px;
  padding: 15px;
}

.trainer-list-main {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $dark-blue;
}

.trainer-list-name {
  border: 1px solid $green;
  display: flex;
  width: 100%;
  height: 50px;

  h3 {
    margin-top: 10px;
    margin-left: 10px;
    color: $dark-blue;
  }
}

.trainer-list-description {
  border: 1px solid $green;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 110px;
}

.trainer-list-quote {
  display: flex;
}

.trainer-list-price {
  display: flex;
}

.trainer-list-address {
  display: flex;
}
