.trainer-detail-container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.trainer-header {
  display: flex;
  width: 100%;
  height: 600px;
  margin-top: 35px;
}

.trainer-header-box {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 890px;
  height: 100%;
  background-color: $white;
  box-shadow: 3px 3px 3px #ddd;
}

.trainer-header-box-1 {
  display: flex;
  flex: 2.3;
}

.trainer-carousel-slide {
  // border: 1px solid $green;
  // display: flex;

  img {
    // width: 100%;
    // display: flex;
    // object-fit: cover;
  }
}

.carousel-img {
  // object-fit: contain;
  width: 595px;
  height: 600px;
}

.trainer-header-box-2 {
  border: 1px solid $dark-green;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: center;
}

.th-profile {
  display: flex;
  height: 20%;
  width: 100%;
}

.th-profile-img {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 13px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
}

.th-profile-name {
  display: flex;
  flex: 1.7;
  align-items: flex-end;
  color: $dark-blue;
  padding-bottom: 15px;
}

.th-address {
  width: 100%;
  padding-left: 13px;

  p {
    font-size: 15px;
  }
}

.th-ratings {
  width: 100%;
  padding-left: 13px;
  height: 17px;
}

.th-reviews {
  width: 100%;
  padding-left: 16px;
}

.th-description {
  width: 100%;
  height: 50%;
  flex-direction: column;
  padding: 15px;
}

.td-about {
  width: 100%;
}

.td-description {
  width: 100%;

  p {
    font-size: 14px;
  }
}

.th-booking {
  width: 90%;
  align-items: flex-end;
  padding-bottom: 10px;

  button {
    height: 60px;
    margin-top: 0;
  }
}

.trainer-detail-body {
  display: flex;
  background-color: $white;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
