.user-profile-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 25px;
  width: 890px;
  height: 100%;
}

.up-header {
  color: $green;
  margin-left: 7px;
}

.up-1 {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 10px;
}

.up-2 {
  display: flex;
  flex-direction: column;
  width: 540px;
  padding: 10px;
}

.up-1-1, .up-1-2 {
  background-color: $white;
  border-radius: 3px;
  margin-right: 15px;
  padding: 15px;
  width: 100%;
  box-shadow: 2px 2px 3px #ddd;
}

.up-profile-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.up-1-1 {
  display: flex;
  margin-bottom: 17px;
}

.up-2-1 {
  background-color: $white;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  box-shadow: 2px 2px 3px #ddd;
}

.booking-list-item {
  border: 1px solid $light-green;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.bl-1 {
  border: 1px solid $light-green;
  display: flex;
  width: 100%;
}

.bl-2 {
  border: 1px solid $light-green;
  display: flex;
  width: 100%;
}
